asgiref==3.8.1
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cssselect2==0.8.0
Django==5.1.6
fonttools==4.57.0
googlemaps==4.10.0
idna==3.10
mysqlclient==2.2.7
pillow==11.1.0
pycparser==2.22
pydyf==0.11.0
PyMySQL==1.1.1
pyphen==0.17.2
python-dotenv==1.1.0
reportlab==4.3.1
requests==2.32.3
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
urllib3==2.3.0
weasyprint==65.0
webencodings==0.5.1
whitenoise==6.9.0
zopfli==0.2.3.post1

gunicorn
dj-database-url
psycopg2
pymysql>=1.1